

.centeredText {
    text-align: center;
}

.info {
    background-color: darkslategrey;
    color: bisque;
    padding: 10px;
    width: 400px;
    margin: 15px auto;
}

.text {
    background-color: lightgrey;
    padding: 1em;
    width: 400px;
    margin: auto;
}


body { /* got background img info from https://www.delftstack.com/howto/css/background-image-not-showing-css/#google_vignette*/
    background-image: url("record.png");
    background-size: 15%;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    
}